@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Before & After Gallery</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Home</a></li>
            <li class="active">Gallery</li>
        </ol>
    </div>
</header>

<div class="col-xs-12">
    <p class="slogan text-center animated bounceInLeft animation-delay-12">Cras scelerisque enim ac leo molestie consequat.<br> Curabitur sit amet lectus maximus cursus turpis a, posuere tortor.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="Container">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img01.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img01.jpg" data-lightbox="image-1" class="animated fadeInDown"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img02.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img02.jpg" class="animated fadeInDown" data-lightbox="image-1"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img03.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img03.jpg" class="animated fadeInDown" data-lightbox="image-1"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img04.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img03.jpg" class="animated fadeInDown" data-lightbox="image-1"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img05.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img04.jpg" class="animated fadeInDown" data-lightbox="image-1"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img06.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img06.jpg" class="animated fadeInDown" data-lightbox="image-1"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img07.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img07.jpg" class="animated fadeInDown" data-lightbox="image-1"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img08.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img08.jpg" class="animated fadeInDown" data-lightbox="image-1"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-caption-ar">
                        <img src="~/assets/img/demo/img09.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="~/assets/img/demo/img09.jpg" class="animated fadeInDown" data-lightbox="image-1"><i class="fa fa-search"></i>Full size</a>
                                <h4 class="caption-title">Title Work</h4>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div> <!-- col-md-9 -->
    </div>
</div> <!-- container -->

@section css {
    <link href="~/LightBox/css/lightbox.min.css" rel="stylesheet" />
}
@section js {
<script src="~/LightBox/js/lightbox.min.js"></script>    
}