@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">Services</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="/">Home</a></li>
            <li class="active">Services</li>
        </ol>
    </div>
</header>

<div class="container">
    

    

    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Our Services</h2>
                @*<div class="alert alert-border alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong><i class="fa fa-info"></i></strong> Pro: Visual Representation of each service - Con: Limited amount of space to write about the service w/o breaking the design each box.
                </div>*@
            </div>
            <div class="col-md-4">
                <div class="content-box box-primary">
                    <img src="~/images/carpet.jpg" alt="" class="img-responsive">
                    <h4 class="content-box-title">Carpet Cleaning</h4>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                    @*<a href="#" class="btn btn-ar btn-primary">Read More</a>
                    <a href="#" class="btn btn-ar btn-default">No, Thanks</a>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box box-primary">
                    <img src="~/images/hardwood.jpg" alt="" class="img-responsive">
                    <h4 class="content-box-title">Hardwood Cleaning</h4>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                    @*<a href="#" class="btn btn-ar btn-danger">Read More</a>
                    <a href="#" class="btn btn-ar btn-default">No, Thanks</a>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box box-primary">
                    <img src="~/images/office-cleaning.jpg" alt="" class="img-responsive">
                    <h4 class="content-box-title">Window Washing</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                    @*<a href="#" class="btn btn-ar btn-danger">Read More</a>
                <a href="#" class="btn btn-ar btn-default">No, Thanks</a>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box box-primary">
                    <img src="~/images/office-cleaning.jpg" alt="" class="img-responsive">
                    <h4 class="content-box-title">Residential Cleaning</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                    @*<a href="#" class="btn btn-ar btn-danger">Read More</a>
                <a href="#" class="btn btn-ar btn-default">No, Thanks</a>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box box-primary">
                    <img src="~/images/hardwood.jpg" alt="" class="img-responsive">
                    <h4 class="content-box-title">Gym Cleaning</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                    @*<a href="#" class="btn btn-ar btn-danger">Read More</a>
                <a href="#" class="btn btn-ar btn-default">No, Thanks</a>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box box-primary">
                    <img src="~/images/carpet.jpg" alt="" class="img-responsive">
                    <h4 class="content-box-title">Office Cleaning</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                    @*<a href="#" class="btn btn-ar btn-danger">Read More</a>
                <a href="#" class="btn btn-ar btn-default">No, Thanks</a>*@
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2 class="section-title">Testimonials</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="bxslider-controls">
                    <span id="bx-prev5"></span>
                    <span id="bx-next5"></span>
                </div>
                <ul class="bxslider" id="home-block">
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Dolore totam at ea reiciendis suscipit a tempore cum nisi aspernatur nisi alias posuere erat a ante posuere erat a ante ultricies ultricies nisi vel augue quam semper conse erat quuntur.</p>
                            <footer>Sheldon Cooper, Physical Quantum</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="content-box box-primary">
                    <p>We look forward to the opportunity to service your needs and become a valued partner in maintaining and improving the appearance and cleanliness of your business, building, and/or facilities. Contact us for a free estimate!</p>
                    <a href="#" class="btn btn-ar btn-default">Free Estimate</a>
                </div> 
            </div>
        </div>
    </section>
</div> <!-- container -->